body{
background-color:#ddd;
}
contenedor{
}
h1{
color:blue;
text-decoration:underline;
font-size:50px;
text-align:center;
text-shadow: 5px 5px 5px #999;
}
#audio{
   margin-left:40%;
}
#lblvolumen1{

margin-left:40px;
}
#lblvolumen2{
float:right;
margin-right:50px;
}
.consola input{
width:100px;
height:30px;
}
#btnrestablecer{
width:220px;
margin-left:50px;
margin-top:20px;
}
#btnbmas{
margin-top:5px;
margin-left:45px;
margin-right:30px;
margin-bottom:10px;
}
#btnbmenos{
margin-left:45px;
margin-right:30px;
margin-bottom:10px;
}
#btnvmas{
margin-top:5px;
margin-left:45px;
margin-right:30px;
margin-bottom:10px;
}
#btnvmenos{
margin-left:45px;
margin-right:30px;
margin-bottom:10px;
}
#btnencender{
margin-left:45px;
margin-right:30px;
margin-bottom:10px;
margin-top:5px;
}
#lblgraves{
margin-left:70px;

}
#lblagudos{
float:right;
margin-right:80px;
}
#btnmute{
margin-left:32%;
margin-bottom:20px;
}
label{
font-size:20px;
text-align:center;
font-weight: bold;
text-shadow: 1px 1px 1px #999;
}